#container {
    margin-top: 0px;
}

#chart {
    margin-right: 10px;
    padding-left: 10px;
    margin-bottom:10px;
}

#leftChartSelections {
    margin-top: 0;
    padding-top: 0;
    margin-left: 10px;
    margin-right: 10px;
}

#environmentGroup {
}

    #environmentGroup h3 {
        margin-top: 5px;
        margin-bottom: 10px;
    }

#applicationGroup {
}

    #applicationGroup h3 {
        margin-top: 35px;
        margin-bottom: 10px;
    }


#datePicker {
    margin-right: 78px;
}

    #datePicker h3 {
        margin-top: 40px;
        margin-bottom: 10px;
    }

.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon {
    left: 0px;
    
}

.right-addon .glyphicon {
    right: 0px;
    cursor: pointer;
    cursor: hand;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
    
}

.right-addon input {
    padding-right: 30px;
    cursor: pointer;
    cursor: hand;
}

#refreshChart {
    margin-top: 50px;
    margin-bottom: 20px;
}

#calc{
    float:none;
    margin:0 auto;
}

