#container {
    margin-top: 0px;
}

#chart {
    margin-right: 10px;
    padding-left: 10px;
    margin-bottom:10px;
}

#leftChartSelections {
    margin-top: 0;
    padding-top: 0;
    margin-left: 10px;
    margin-right: 10px;
}

#environmentGroup {
}

    #environmentGroup h3 {
        margin-top: 5px;
        margin-bottom: 10px;
    }

#applicationGroup {
}

    #applicationGroup h3 {
        margin-top: 35px;
        margin-bottom: 10px;
    }


#datePicker {
     max-width: 290px;
}

    #datePicker h3 {
        margin-top: 40px;
        margin-bottom: 10px;
    }

#calcPicker {
     max-width: 290px;
     /*margin-bottom: 5px;*/
}

    #calcPicker h3 h4{
        margin-top: 40px;
        margin-bottom: 10px;
    }

.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon {
    left: 0px;
    
}

.right-addon .glyphicon {
    right: 0px;
    cursor: pointer;
    cursor: hand;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
    
}

.right-addon input {
    padding-right: 30px;
    cursor: pointer;
    cursor: hand;
}

#refreshChart {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 0;
}

#calc{
    float:none;
    margin:0 auto;
    padding-left:10px;
    padding-right:10px;
}

.checkbox {
  padding-left: 5px  !important;
}
#leftCheck {
    margin-right: 40px;
    margin-left: 10px;
}
#requestBtn {
     margin-top: 0px;
     padding-top: 0px;
}
.radio-inline {
  padding-left: 20px  !important;
}

.progress {
    display: block;
    text-align: center;
    width: 0;
    height: 3px;
    background: red;
    transition: width .3s;
}
.progress.hide {
    opacity: 0;
    transition: opacity 1.3s;
}
